body{
  background-color:#F5F7FB ;

  margin: 0px;
}

.start-button{
  border-radius: 15px;
  background: #4D5B9E;
  border: none;
  width: 193px; 
  height: 52px;
  color: white;
  margin-top: 20px;
}

.main-header{
  font-family: Karla;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  color: #293264;
}
.main-para{
  width: 318px;
  height: 19px; 

  
}

.div-insidefp{
display: flex;
height: 800px;
object-position: left;
justify-content: center;
align-items: center;
}
.yellow{
  position: fixed;
  margin-left: 33%;
  margin-top: 5px;

}
.form{
  display: flex;
}